# Server Configurations
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/sarvamcare
JWT_SECRET=sarvamcare_jwt_secret_token_key
DOMAIN=https://sarvamcare.com

# Analytics & Verification Placeholders
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_GTM_ID=GTM-XXXXXXX
VITE_GOOGLE_SITE_VERIFICATION=google_site_verification_hash
